global:
  enabled: true

server:
  ha:
    enabled: true
    replicas: 3
    raft: 
      enabled: true
    
  ui:
    enabled: true
  
  config: |
    ui = true
    
    listener "tcp" {
      tls_disable = 1
      address = "[::]:8200"
      cluster_address = "[::]:8201"
    }
    
    storage "raft" {
      path = "/openbao/data"
      node_id = "openbao-${POD_NAME}"
    }

dev:
  enabled: false
