apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://argoproj.github.io/argo-helm'
    chart: argo-cd
    targetRevision: 9.2.4
    helm:
      valueFiles:
        - values.yaml
      valuesFrom:
      - kind: Secret
        name: argocd-ingress-host
        valuesKey: hostname
        targetPath: server.ingress.hosts[0]
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
